<!DOCTYPE html>
<html>
<head>
    <title>AI Study Planner</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>

    <div class="container">

        <h1>AI Study Planner </h1>

        <form method="POST">

            <label>Subjects:</label><br>
            <input type="text" name="subjects" placeholder="Math, Physics, Chemistry"><br>

            <label>Days Left:</label><br>
            <input type="number" name="days"><br>

            <label>Study Hours Per Day:</label><br>
            <input type="number" name="hours"><br>

            <button type="submit">Generate Plan</button>

        </form>

        {% if plan %}

        <div class="study-plan">

            <h2>Your Study Plan</h2>

            {% for day in plan %}

                <h3>{{ day.date }}</h3>

                <ul>
                    {% for task in day.tasks %}
                        <li>
                            {{ task.subject }} → {{ task.hours }} hrs
                        </li>
                    {% endfor %}
                </ul>

            {% endfor %}

        </div>

        {% endif %}

    </div>

</body>
</html>